body {
    background-color: #ddd;
}
nav a {
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    color: orange;
}
ul {
    list-style: none;
}
li a {
    text-decoration: none;
    letter-spacing: 2px;
    display: inline-block;
}
li a img {
    height: 200px;
}
h4 {
    margin-bottom: -10px;
    font-size: 20px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
}
li:first-child a h4 {
    margin-top: 0;
}
li a:hover h4 {
    color: orange;
}

.img_arr img {
    height: 200px;
}
.des {
    width: 40%;
}

#cart_add {
    position: fixed;
    width: 60%;
    height: 50vh;
    margin: auto;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #666;
    box-shadow: 0px 0px 10px 50vh rgba(1,1,1,0.5);
    display: none;
}
#cart_add:target {
    display: block;
}
.btn_add-line {
    text-align: center;
}
.btn_add {
    display: inline-block;
    width: 150px;
    height: 30px;
    outline: 1px solid darkslateblue;
    text-decoration: none;
    text-align: center;
    line-height: 33px;
    background-color: rgb(148, 134, 241);
    color: white;
    letter-spacing: 1.5px;
    border-radius: 5px;
    margin: 10px;
}
.btn_add:hover {
    background-color: rgb(101, 81, 235);
}
.btn_add:active {
    background-color: darkslateblue;
}
.btn_turn-off {
    text-decoration: none;
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 40px;
}
.btn_turn-off:hover {
    color: orange;
}